In [ ]:
import pandas as pd
import json
import csv
import numpy as np

In [ ]:
# Load the data
df = pd.read_json('/content/train.jsonl', lines=True)

In [ ]:
# Sanity check
df.head(5)

                                    uid  ...       tag
0  96cb7e5c-bda4-40e5-8e25-b823027dfb66  ...  r1_train
1  2a23eeee-c69e-4f82-b568-b8a8dd4b9c26  ...  r1_train
2  35e394f6-10cb-4806-be15-c2c12f6632cc  ...  r1_train
3  673610db-9acf-4eec-895c-1e2402f14813  ...  r1_train
4  a4f0b21c-39be-4512-b14f-bb5d7d4ab4bb  ...  r1_train

[5 rows x 9 columns]

In [ ]:
# Sanity check
print(df.context[1])
print(df.hypothesis[1])
print(df.shape) # (45460, 9)

Aadesh Shrivastava (आदेश श्रीवास्तव) (4 September 1964 – 5 September 2015) was a music composer and singer of Indian music. Over the course of his career, he had composed music for over 100 Hindi films. Just a day after he turned 51, he died of cancer in Kokilaben Hospital.
Aadesh Shrivastava had composed music the day before before he died of cancer.
(16206, 9)

In [ ]:
# Group the records per context and count the hypotheses
df2 = df.groupby(['context']).size().reset_index(name='counts')
df2

                                                context  counts
0     "" was an English language French–Canadian act...      12
1     "22" is a song recorded by American singer-son...       8
2     "Aama" (आमा) (Literally: Mother) is the first ...      27
3     "Ae Dil Hai Mushkil" (English: "This Heart is ...      22
4     "All My Life" is a song by the American band F...      15
...                                                 ...     ...
2049  Zazie Beetz (born 1991) is a German-born, Amer...       5
2050  Zimbabwe is a landlocked country in southern A...       1
2051  Zunyi Xinzhou Airport (IATA: ZYI, ICAO: ZUZY) ...       5
2052  is an American band formed in Los Angeles by M...       2
2053  of Montreal is an American experimental pop ba...       3

[2054 rows x 2 columns]

In [ ]:
# Sanity check
example = df[df.context == df2.context[0]]
example

                                       uid  ...       tag
6517  7febf549-7162-4253-84ba-0b00c4856205  ...  r1_train
6518  a81077f1-82f6-41ff-b3af-4acf89948bd3  ...  r1_train
6519  6916938c-67f5-4288-acc1-b8250b23ec20  ...  r1_train
6520  a1d01175-f297-4b23-93c5-4eb50f43591d  ...  r1_train
6521  e7c25335-9a57-416c-be76-3c9e23d5fe1d  ...  r1_train
6522  651d627e-8d9b-4d57-b2f0-0dfdfd686760  ...  r1_train
6523  ba37cc22-860f-4284-bce2-fe44f984e1ac  ...  r1_train
6524  df8e0cc3-0f6e-4b60-ab43-b1aadc09923d  ...  r1_train
6525  ad30eff3-4fe6-45bd-9593-0e81c3c3f2a2  ...  r1_train
6526  f97e4ead-0dba-4200-b517-cfcffd0d10ca  ...  r1_train
6527  d4d8dcfb-d68b-48bf-b66a-e099652e18e8  ...  r1_train
6528  1548a43c-3387-4faf-945e-52aa05ed5ace  ...  r1_train

[12 rows x 9 columns]

In [ ]:
# Sort by count; descending
df3 = df2.sort_values(by='counts', ascending=False)
df3   
# Original record count: # 16946 
# Unique context count: 2054

                                                context  counts
413   Cowie Castle is a ruined fortress in Aberdeens...      36
920   Little Jost Van Dyke (colloquially, "Little Jo...      35
1175  Peter Franklin Paul (born September 2, 1948) i...      34
1105  North East Lincolnshire is a unitary authority...      34
1999  Westminster, Ellesmere Port is a suburb of the...      32
...                                                 ...     ...
1988  We Were Soldiers is a 2002 American war film t...       1
313   Brutus de Villeroi (1794–1874) was a French en...       1
903   Lee Jae-jin (Hangul: 이재진 ; Hanja: 李在真 ; Japane...       1
525   Elliott V Bell (September 25, 1902 - January 1...       1
612   George Dayton (born 1827, died 1938) lived in ...       1

[2054 rows x 2 columns]

https://www.tensorflow.org/hub/tutorials/semantic_similarity_with_tf_hub_universal_encoder  
Universal Sentence Encoder  

You can train your doc2vec model following this link.  
https://rare-technologies.com/doc2vec-tutorial/  

https://datascience.stackexchange.com/questions/23969/  
sentence-similarity-prediction  
1. Use tfidfvectorizer to get a vector representation of each text
2. Fit the vectorizer with your data, removing stop-words.
3. Transform the new entry with the vectorizer previously trained
4. Compute the cosine similarity between this representation and each representation of the elements in your data set.  

doc2vec  
https://rare-technologies.com/doc2vec-tutorial/

In [ ]:
# Standard list of stop words 
stop_words = ['ourselves', 'hers', 'between', 'yourself', 'but', 'again', 'there', 'about', 'once', 'during', 'out', 'very', 'having', 'with', 'they', 'own', 'an', 'be', 'some', 'for', 'do', 'its', 'yours', 'such', 'into', 'of', 'most', 'itself', 'other', 'off', 'is', 's', 'am', 'or', 'who', 'as', 'from', 'him', 'each', 'the', 'themselves', 'until', 'below', 'are', 'we', 'these', 'your', 'his', 'through', 'don', 'nor', 'me', 'were', 'her', 'more', 'himself', 'this', 'down', 'should', 'our', 'their', 'while', 'above', 'both', 'up', 'to', 'ours', 'had', 'she', 'all', 'no', 'when', 'at', 'any', 'before', 'them', 'same', 'and', 'been', 'have', 'in', 'will', 'on', 'does', 'yourselves', 'then', 'that', 'because', 'what', 'over', 'why', 'so', 'can', 'did', 'not', 'now', 'under', 'he', 'you', 'herself', 'has', 'just', 'where', 'too', 'only', 'myself', 'which', 'those', 'i', 'after', 'few', 'whom', 't', 'being', 'if', 'theirs', 'my', 'against', 'a', 'by', 'doing', 'it', 'how', 'further', 'was', 'here', 'than']

In [ ]:
# Remove some stop words from the original list, for e.g., "not" for better accuracy.
stop_words = ['ourselves', 'hers', 'yourself', 'again', 'there', 'about', 'once', 'during', 'out', 'very', 'having', 'with', 'they', 'own', 'an', 'be', 'some', 'for', 'do', 'its', 'yours', 'such', 'into', 'of', 'most', 'itself', 'other', 'off', 's', 'am', 'or', 'who', 'as', 'from', 'him', 'each', 'the', 'themselves', 'below', 'are', 'we', 'these', 'your', 'his', 'through', 'me', 'were', 'her', 'more', 'himself', 'this', 'down', 'should', 'our', 'their', 'while', 'above', 'both', 'up', 'to', 'ours', 'had', 'she', 'all', 'when', 'at', 'any', 'before', 'them', 'same', 'and', 'been', 'have', 'in', 'will', 'on', 'does', 'yourselves', 'then', 'that', 'because', 'what', 'over', 'so', 'now', 'he', 'you', 'herself', 'has', 'just', 'where', 'myself', 'which', 'those', 'few', 'whom', 'being', 'theirs', 'my', 'a', 'by', 'doing', 'it', 'further', 'was', 'here']

In [ ]:
# Remove stop words from hypotheses.
df_no_stopword = df.copy()
pat = r'\b(?:{})\b'.format('|'.join(stop_words))
df_no_stopword['h_no_sw'] = df_no_stopword['hypothesis'].str.replace(pat, '')
df_no_stopword.head()

                                    uid  ...                                            h_no_sw
0  96cb7e5c-bda4-40e5-8e25-b823027dfb66  ...                 Swiss voters went  polls  Saturday
1  2a23eeee-c69e-4f82-b568-b8a8dd4b9c26  ...  Aadesh Shrivastava  composed music  day    die...
2  35e394f6-10cb-4806-be15-c2c12f6632cc  ...  The process  brought Dewhurst v. Coulthard   S...
3  673610db-9acf-4eec-895c-1e2402f14813  ...  Beryl Markham wrote "West   Night"    86 years...
4  a4f0b21c-39be-4512-b14f-bb5d7d4ab4bb  ...               Nieznamierowice   village  Scotland.

[5 rows x 10 columns]

In [ ]:
# Reference: https://medium.com/spark-nlp/easy-sentence-similarity-with-bert-sentence-embeddings-using-john-snow-labs-nlu-ea078deb6ebf
# Install NLU   https://pypi.org/project/nlu/
import os 
! apt-get update -qq > /dev/null    
# Install java 
! apt-get install -y openjdk-8-jdk-headless -qq > /dev/null os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64" os.environ["PATH"] = os.environ["JAVA_HOME"] + "/bin:" + os.environ["PATH"] 
! pip install pyspark==3.0.2
! pip install nlu 
import nlu

E: Unsupported file /usr/lib/jvm/java-8-openjdk-amd64 given on commandline
E: Unsupported file /bin: given on commandline
Collecting pyspark==3.0.2
  Downloading pyspark-3.0.2.tar.gz (204.8 MB)
     |████████████████████████████████| 204.8 MB 52 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 22.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.2-py2.py3-none-any.whl size=205186687 sha256=e7ff72206a117adfa0c69b246f3d8420cc0aafd803eafd6d5f4db0b150e19cb6
  Stored in directory: /root/.cache/pip/wheels/9a/39/f6/970565f38054a830e9a8593f388b36e14d75dba6c6fdafc1ec
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.2
Collecting nlu
  Downloading nlu-3.1.1-py3-none-any.whl (455 kB)
     |████████████████████████████████| 455 kB 32.3 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from nlu) (1.19.5)
Requirement already satisfied: pyarrow>=0.16.0 in /usr/local/lib/python3.7/dist-packages (from nlu) (3.0.0)
Collecting spark-nlp<3.2.0,>=3.1.0
  Downloading spark_nlp-3.1.3-py2.py3-none-any.whl (91 kB)
     |████████████████████████████████| 91 kB 10.0 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from nlu) (1.1.5)
Collecting dataclasses
  Downloading dataclasses-0.6-py3-none-any.whl (14 kB)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->nlu) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->nlu) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->nlu) (1.15.0)
Installing collected packages: spark-nlp, dataclasses, nlu
Successfully installed dataclasses-0.6 nlu-3.1.1 spark-nlp-3.1.3

**Experiments below. Please go to section "Final Solution" belower for final solution**

In [ ]:
pipe = nlu.load('embed_sentence.bert')
predictions = pipe.predict(df3.context, output_level='document')
predictions

sent_small_bert_L2_128 download started this may take some time.
Approximate size to download 16.1 MB
[OK!]
sentence_detector_dl download started this may take some time.
Approximate size to download 354.6 KB
[OK!]

                                                   text  ...                                           document
0     Little Jost Van Dyke (colloquially, "Little Jo...  ...  Little Jost Van Dyke (colloquially, "Little Jo...
1     Cowie Castle is a ruined fortress in Aberdeens...  ...  Cowie Castle is a ruined fortress in Aberdeens...
2     North East Lincolnshire is a unitary authority...  ...  North East Lincolnshire is a unitary authority...
3     Peter Franklin Paul (born September 2, 1948) i...  ...  Peter Franklin Paul (born September 2, 1948) i...
4     Westminster, Ellesmere Port is a suburb of the...  ...  Westminster, Ellesmere Port is a suburb of the...
...                                                 ...  ...                                                ...
2049  It Takes a Village: And Other Lessons Children...  ...  It Takes a Village: And Other Lessons Children...
2050  Iron Horse Bicycles was a manufacturer of bicy...  ...  Iron Horse Bicycles was a manufacturer of bicy...
2051  Earl Mountbatten of Burma is a title in the Pe...  ...  Earl Mountbatten of Burma is a title in the Pe...
2052  In ethology and cognitive ethology, the hawk/g...  ...  In ethology and cognitive ethology, the hawk/g...
2053  Beryl Markham (née Clutterbuck, 26 October 190...  ...  Beryl Markham (née Clutterbuck, 26 October 190...

[2054 rows x 3 columns]

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# Get the most similar sentences for a sentence

# sentence_embedding_bert to matrix
e_col = 'sentence_embedding_bert'
embed_mat = np.array([x for x in predictions[e_col]])

# calculate distance between every embedding pair
sim_mat = cosine_similarity(embed_mat, embed_mat)

#get similarity score for a given sentence at position df.iloc[sentence_id]
sentence_id = 0
print("Similarities for Sentence : " + df3.iloc[sentence_id].context)

# write sim scores to df
sim_df3 = df3.copy()
sim_df3['sim_score'] = sim_mat[sentence_id]
sim_df3.sort_values('sim_score', ascending = False)

Similarities for Sentence : Little Jost Van Dyke (colloquially, "Little Jost") is one of the British Virgin Islands. It is a small island on the east end of the island of Jost Van Dyke. Like Jost Van Dyke, it takes its name from the Dutch privateer Joost van Dyk. It is the location of the Diamond Cay National Park, which includes the nesting grounds of wild boobies, terns and pelicans.

                                                context  counts  sim_score
920   Little Jost Van Dyke (colloquially, "Little Jo...      39   1.000000
694   Hyams Beach is a seaside village in the City o...       8   0.916830
861   Kisimul Castle (Scottish Gaelic: "Caisteal Chi...       5   0.908074
1010  Merimbula Merimbula is a town on the Merimbula...       9   0.905649
1293  Rudolph the Red-Nosed Reindeer is a legendary ...      22   0.905494
...                                                 ...     ...        ...
849   Kerala Janapaksham ('Kerala People's Party') i...      18   0.643885
1234  Ram Charan is an Indian film actor, dancer, pr...      12   0.641895
1292  Rudolf Khametovich Nureyev (Bashkir: Рудольф Х...      11   0.632541
151   Aikya Kerala Congress was an alliance consisti...       6   0.601240
297   Bramhapuri (Vidhan Sabha constituency) is one ...       1   0.581972

[2054 rows x 3 columns]

In [ ]:
embed_mat.shape #(number of unique context entries, number of predicted similar sentences)

(2054, 128)

In [ ]:
# Reference: https://medium.com/spark-nlp/easy-sentence-similarity-with-bert-sentence-embeddings-using-john-snow-labs-nlu-ea078deb6ebf
## Calculate dinstance between all pairs of sentences (vectors) in the dataframe
# drop any NA
predictions.dropna(inplace=True)

# put embeddings in matrix
e_col = 'sentence_embedding_bert'
embed_mat = np.array([x for x in predictions[e_col]])

# calculate distance between every embedding pair
sim_mat = cosine_similarity(embed_mat, embed_mat)

# Quick check
sentence_id = 0
sim_df3['sim_score'] = sim_mat[sentence_id]

In [ ]:
sim_mat.shape

(2054, 2054)

In [ ]:
# maximum value that is not 1
temp = np.asarray(sim_mat)
temp[sim_mat < 0.999999].max()

0.9988249165194869

**Prepare dataset with all the stopwords removed.**

In [ ]:
df_no_stopword = df3.copy()
df_no_stopword['c_no_sw'] = df3['context'].str.replace(pat, '')
df_no_stopword

                                                context  ...                                            c_no_sw
920   Little Jost Van Dyke (colloquially, "Little Jo...  ...  Little Jost Van Dyke (colloquially, "Little Jo...
413   Cowie Castle is a ruined fortress in Aberdeens...  ...  Cowie Castle   ruined fortress  Aberdeenshire,...
1105  North East Lincolnshire is a unitary authority...  ...  North East Lincolnshire   unitary authority ar...
1175  Peter Franklin Paul (born September 2, 1948) i...  ...  Peter Franklin Paul (born September 2, 1948)  ...
1999  Westminster, Ellesmere Port is a suburb of the...  ...  Westminster, Ellesmere Port   suburb   town  E...
...                                                 ...  ...                                                ...
728   It Takes a Village: And Other Lessons Children...  ...  It Takes  Village: And Other Lessons Children ...
724   Iron Horse Bicycles was a manufacturer of bicy...  ...  Iron Horse Bicycles   manufacturer  bicycles, ...
496   Earl Mountbatten of Burma is a title in the Pe...  ...  Earl Mountbatten  Burma   title   Peerage   Un...
708   In ethology and cognitive ethology, the hawk/g...  ...  In ethology  cognitive ethology,  hawk/goose e...
258   Beryl Markham (née Clutterbuck, 26 October 190...  ...  Beryl Markham (née Clutterbuck, 26 October 190...

[2054 rows x 3 columns]

In [ ]:
print(df_no_stopword.context[920])
print(df_no_stopword.c_no_sw[920])

Little Jost Van Dyke (colloquially, "Little Jost") is one of the British Virgin Islands. It is a small island on the east end of the island of Jost Van Dyke. Like Jost Van Dyke, it takes its name from the Dutch privateer Joost van Dyk. It is the location of the Diamond Cay National Park, which includes the nesting grounds of wild boobies, terns and pelicans.
Little Jost Van Dyke (colloquially, "Little Jost")  one   British Virgin Islands. It   small island   east end   island  Jost Van Dyke. Like Jost Van Dyke,  takes  name   Dutch privateer Joost van Dyk. It   location   Diamond Cay National Park,  includes  nesting grounds  wild boobies, terns  pelicans.

**Preparing the solutin for context**

In [ ]:
pipe = nlu.load('embed_sentence.bert')
pred_sw = pipe.predict(df_no_stopword.c_no_sw, output_level='document')
pred_sw

sent_small_bert_L2_128 download started this may take some time.
Approximate size to download 16.1 MB
[OK!]
sentence_detector_dl download started this may take some time.
Approximate size to download 354.6 KB
[OK!]

                                                   text  ...                                           document
0     Little Jost Van Dyke (colloquially, "Little Jo...  ...  Little Jost Van Dyke (colloquially, "Little Jo...
1     Cowie Castle   ruined fortress  Aberdeenshire,...  ...  Cowie Castle ruined fortress Aberdeenshire, Sc...
2     North East Lincolnshire   unitary authority ar...  ...  North East Lincolnshire unitary authority area...
3     Peter Franklin Paul (born September 2, 1948)  ...  ...  Peter Franklin Paul (born September 2, 1948) f...
4     Westminster, Ellesmere Port   suburb   town  E...  ...  Westminster, Ellesmere Port suburb town Ellesm...
...                                                 ...  ...                                                ...
2049  It Takes  Village: And Other Lessons Children ...  ...  It Takes Village: And Other Lessons Children T...
2050  Iron Horse Bicycles   manufacturer  bicycles, ...  ...  Iron Horse Bicycles manufacturer bicycles, Isl...
2051  Earl Mountbatten  Burma   title   Peerage   Un...  ...  Earl Mountbatten Burma title Peerage United Ki...
2052  In ethology  cognitive ethology,  hawk/goose e...  ...  In ethology cognitive ethology, hawk/goose eff...
2053  Beryl Markham (née Clutterbuck, 26 October 190...  ...  Beryl Markham (née Clutterbuck, 26 October 190...

[2054 rows x 3 columns]

In [ ]:
## Calculate dinstance between all pairs of sentences in the dataframe
# drop any NA
pred_sw.dropna(inplace=True)

# put embeddings in matrix
e_col = 'sentence_embedding_bert'
embed_mat = np.array([x for x in pred_sw[e_col]])

# calculate distance between every embedding pair
sim_mat = cosine_similarity(embed_mat, embed_mat)

# Quick check
sentence_id = 0
sim_df3['sim_score'] = sim_mat[sentence_id]

In [ ]:
print(sim_mat.shape)
sim_mat

(2054, 2054)

array([[1.        , 0.8278551 , 0.6968128 , ..., 0.69370523, 0.81112529,
        0.84086617],
       [0.8278551 , 1.        , 0.809774  , ..., 0.73461227, 0.72596505,
        0.72711688],
       [0.6968128 , 0.809774  , 1.        , ..., 0.71193408, 0.57722369,
        0.59760518],
       ...,
       [0.69370523, 0.73461227, 0.71193408, ..., 1.        , 0.64865617,
        0.76091552],
       [0.81112529, 0.72596505, 0.57722369, ..., 0.64865617, 1.        ,
        0.84724298],
       [0.84086617, 0.72711688, 0.59760518, ..., 0.76091552, 0.84724298,
        1.        ]])

In [ ]:
# Minimum value
print("Minumum value:", np.min(sim_mat))

# maximum value that is not 1
print("Maximum value:", sim_mat[sim_mat < 1].max() )

Minumum value: 0.338726503458714
Maximum value: 0.9999999999999999

In [ ]:
#Steps to extract argmax
maxx = sim_mat.copy()
np.fill_diagonal(maxx, 0)
maxx

array([[0.        , 0.8278551 , 0.69681279, ..., 0.69370519, 0.81112527,
        0.84086615],
       [0.8278551 , 0.        , 0.80977401, ..., 0.73461224, 0.72596503,
        0.72711683],
       [0.69681279, 0.80977401, 0.        , ..., 0.71193409, 0.57722371,
        0.5976052 ],
       ...,
       [0.69370519, 0.73461224, 0.71193409, ..., 0.        , 0.64865617,
        0.76091553],
       [0.81112527, 0.72596503, 0.57722371, ..., 0.64865617, 0.        ,
        0.84724298],
       [0.84086615, 0.72711683, 0.5976052 , ..., 0.76091553, 0.84724298,
        0.        ]])

In [ ]:
results = pd.DataFrame()
results['max_sim_factor'] = np.max(maxx, axis=1)
results['max_sim_index']  = np.argmax(maxx, axis=1)
results['original_index'] = df3.index
results.sort_values('max_sim_factor', ascending = False, inplace=True, ignore_index=True)
results

      max_sim_factor  max_sim_index  original_index
0           0.998629           1701             451
1           0.998629           1222             452
2           0.998139           1144            1486
3           0.998139            688            1487
4           0.997447            704              97
...              ...            ...             ...
2049        0.830642            330            1188
2050        0.829521            371             119
2051        0.828274           1614             621
2052        0.825583           1871             123
2053        0.795403             77            1819

[2054 rows x 3 columns]

In [ ]:
print(df3.context[451])
print(df_no_stopword.context[1701])

Dean Carroll Jones (January 25, 1931 – September 1, 2015) was an American actor best known for his roles as Agent Zeke Kelso in "That Darn Cat!" (1965), Jim Douglas in "The Love Bug" (1968), Albert Dooley in "The Million Dollar Duck" (1971; for which he received a Golden Globe nomination) and Dr. Herman Varnick in "Beethoven" (1992).
The Jargon Society is an independent press founded by the American poet Jonathan Williams. Jargon has published seminal works of the American literary avant-garde, including books by Charles Olson, Louis Zukofsky, Paul Metcalf, James Broughton, and Williams himself, as well as "sui generis" books of folk art such as "White Trash Cooking".

In [ ]:
print(df3.context[97])
print(df_no_stopword.context[704])

4th (County Fermanagh) Battalion, Ulster Defence Regiment (4 UDR) was formed in 1970 as part of the 7 original battalions specified in The Ulster Defence Regiment Act 1969, which received Royal Assent on 18 December 1969 and was brought into force on 1 January 1970. It was amalgamated with the 6th Battalion, Ulster Defence Regiment in 1992 to form the 4th/6th Battalion, Ulster Defence Regiment.
In British politics, the shadow foreign secretary is a position within the opposition's shadow cabinet that deals mainly with issues surrounding the Foreign Office. If elected, the person designated as shadow foreign secretary may be slated to serve as the new Foreign Secretary.

**Preparing the solution for hypothesis**

In [ ]:
#first.hypothesis
pipe = nlu.load('embed_sentence.bert')
pred = pipe.predict(first.h_no_sw, output_level='document')
pred

In [ ]:
## Calculate dinstance between all pairs of sentences in the dataframe
# drop any NA
pred.dropna(inplace=True)

# put embeddings in matrix
e_col = 'sentence_embedding_bert'
embed_mat = np.array([x for x in pred[e_col]])

# calculate distance between every embedding pair
sim_mat = cosine_similarity(embed_mat, embed_mat)
sim_mat

In [ ]:
#Steps to extract argmax
maxx = sim_mat.copy()
np.fill_diagonal(maxx, 0)
maxx = np.tril(maxx, k=0)
maxx

In [ ]:
res = pd.DataFrame()
res['max_sim_factor'] = np.max(maxx, axis=1)
res['max_sim_index']  = np.argmax(maxx, axis=1)
res['original_index'] = df.loc[df['context'] == context].index
#res.sort_values('max_sim_factor', ascending = False, inplace=True, ignore_index=True)
res

    max_sim_factor  max_sim_index  original_index
0         0.000000              0            7781
1         0.826280              0            7797
2         0.889851              0            8858
3         0.922437              2            8864
4         0.845911              3            8867
5         0.881861              2            8872
6         0.849150              4            8874
7         0.697794              3            9685
8         0.868882              0            9696
9         0.827134              0            9707
10        0.937299              5            9717
11        0.852359              5            9722
12        0.918577              2           10033
13        0.888275              9           16121
14        0.801400              8           16742

In [ ]:
first['max_sim_factor'] = np.max(maxx, axis=1)
first['max_sim_index']  = np.argmax(maxx, axis=1)
first

                                                 context  ... max_sim_index
7781   "All My Life" is a song by the American band F...  ...             0
7797   "All My Life" is a song by the American band F...  ...             0
8858   "All My Life" is a song by the American band F...  ...             0
8864   "All My Life" is a song by the American band F...  ...             2
8867   "All My Life" is a song by the American band F...  ...             3
8872   "All My Life" is a song by the American band F...  ...             2
8874   "All My Life" is a song by the American band F...  ...             4
9685   "All My Life" is a song by the American band F...  ...             3
9696   "All My Life" is a song by the American band F...  ...             0
9707   "All My Life" is a song by the American band F...  ...             0
9717   "All My Life" is a song by the American band F...  ...             5
9722   "All My Life" is a song by the American band F...  ...             5
10033  "All My Life" is a song by the American band F...  ...             2
16121  "All My Life" is a song by the American band F...  ...             9
16742  "All My Life" is a song by the American band F...  ...             8

[15 rows x 5 columns]

In [ ]:
# If the max_sim_factor >= 0.98 then mark for removal. 
# If the max_sim_factor >= 0.98 and the corresponding max_sim_index is already marked for removal then don't mark for removal
# Work in progress
valdt = first.copy()
valdt['remove'] = valdt.max_sim_factor >= 0.84

check = []
for i in range(valdt.shape[0]):
  a, b = valdt.iloc[i].remove  ,  valdt.iloc[valdt.iloc[i].max_sim_index].remove
  if a:
    if b:
      check.append(False)
    else:
      check.append(True)
  else:
    check.append(False)

valdt['remove2'] = check

valdt

                                                 context  ... remove2
7781   "All My Life" is a song by the American band F...  ...   False
7797   "All My Life" is a song by the American band F...  ...   False
8858   "All My Life" is a song by the American band F...  ...    True
8864   "All My Life" is a song by the American band F...  ...   False
8867   "All My Life" is a song by the American band F...  ...   False
8872   "All My Life" is a song by the American band F...  ...   False
8874   "All My Life" is a song by the American band F...  ...   False
9685   "All My Life" is a song by the American band F...  ...   False
9696   "All My Life" is a song by the American band F...  ...    True
9707   "All My Life" is a song by the American band F...  ...   False
9717   "All My Life" is a song by the American band F...  ...   False
9722   "All My Life" is a song by the American band F...  ...   False
10033  "All My Life" is a song by the American band F...  ...   False
16121  "All My Life" is a song by the American band F...  ...    True
16742  "All My Life" is a song by the American band F...  ...   False

[15 rows x 7 columns]

In [ ]:
for i in range(valdt.shape[0]):
  a, b = valdt.iloc[i].remove  ,  valdt.iloc[valdt.iloc[i].max_sim_index].remove
  print(a, b, a or b)
  #print(valdt.iloc[i].remove, valdt.iloc[valdt.iloc[i].max_sim_index].remove)

False False False
False False False
True False True
True True True
True True True
True True True
True True True
False True True
True False True
False False False
True True True
True True True
True True True
True False True
False True True

In [ ]:
df6
#df5
#df5.loc[940]
#df5.iloc[1]

In [ ]:
# Iterate through the distinct contexts
for i in range(df.shape[0]):
  print(df.loc[i].context)
  if i >= 10:
    break

**Final Solution**

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
def get_hypothesis(in_context):
  
  process = pd.DataFrame()
  process = df.loc[df['context'] == in_context][["uid", "context", "hypothesis"]]
  
  # Remove stop words from hypothesis.
  pat = r'\b(?:{})\b'.format('|'.join(stop_words))
  process['h_no_sw'] = process['hypothesis'].str.replace(pat, '')

  return process


def run_bert(in_hypothesis):
  pipe = nlu.load('embed_sentence.bert')
  pred = pipe.predict(in_hypothesis, output_level='document')

  return pred


def calculate_similarity(the_data): ## Calculate cosine dinstance between all pairs of sentences in the dataframe
  pred = the_data
  # drop any NA
  pred.dropna(inplace=True)

  # put embeddings in matrix
  e_col = 'sentence_embedding_bert'
  embed_mat = np.array([x for x in pred[e_col]])

  # calculate distance between every embedding pair
  sim_mat = cosine_similarity(embed_mat, embed_mat)

  #Steps to extract argmax
  maxx = sim_mat.copy()
  np.fill_diagonal(maxx, 0)
  maxx = np.tril(maxx, k=0)

  return maxx


def remove_duplicate(data_frame, similarity_factor = 0.98): # define similarity factor. e.g. a hypothesis that has factor >=0.98 will be removed.
  
  # Step 1: If the max_sim_factor >= 0.98 then mark for removal. 
  # Step 2: If the max_sim_factor >= 0.98 and the corresponding max_sim_index is already marked for removal then don't mark for removal
  # Step 3: Delete the records marked for deletion in step 2
  valdt = data_frame
  valdt['remove'] = valdt.max_sim_factor >= similarity_factor

  check = []
  for i in range(valdt.shape[0]):
    a, b = valdt.iloc[i].remove  ,  valdt.iloc[valdt.iloc[i].max_sim_index].remove
    if a:
      if b:
        check.append(False)
      else:
        check.append(True)
    else:
      check.append(False)

  valdt['remove2'] = check

  return valdt

In [ ]:
#context = df2.loc[4].context
#df.loc[df['context'] == context][["context", "hypothesis"]]
df4 = df3[df3.counts >= 2] # this dataset will be processed for deduping # (1974, 2) #(2655, 2)
df5 = df3[df3.counts == 1]

df6 = df[df.context.isin(df5.context.values)] # this is the final dataframe where the deduped records are stored # (80, 9) #(31, 2)
df6.reset_index(drop=True, inplace=True)

In [ ]:
# Iterate through the distinct contexts
for i in range(df4.shape[0]): 
  context = df4.iloc[i].context     # get unique context from df3
  first   = get_hypothesis(context)  # use this context to extract all the records from original dataset
  pred    = run_bert(first.h_no_sw)
  maxx = calculate_similarity(pred)
  
  first['max_sim_factor'] = np.max(maxx, axis=1)
  first['max_sim_index']  = np.argmax(maxx, axis=1)
  
  valdt = remove_duplicate(first)
  valdt = valdt[~valdt.remove2]

  df6 = df6.append(df[df.uid.isin(valdt.uid.values)], ignore_index = True)
  print("The iteration no:", i, context[0:10])

**An example of duplicate record found by solution**

In [ ]:
#dff = df6.groupby(['context']).size().reset_index(name='counts')
df6.shape

(16180, 9)

In [ ]:
pd.set_option('display.max_colwidth', 50) #100
#df[df.uid.isin(['cb08b5ff-df27-4261-9ef2-d88190f086e5', '889eb855-645d-4156-840e-d5d89a8f02d2'])].hypothesis
#849          Diamond Cay National Park is located on Little Jost Van Dyke.
#1754    Little Jost Van Dyke is the location of Diamond Cay National Park.

In [ ]:
print("original dataset:", df.shape) # (16946, 9) # (45460, 9)
print("dataset after deduping:", df6.shape) # (16311, 9) # # (42832, 9)

original dataset: (45460, 9)
dataset after deduping: (42832, 9)

**Write to file**

In [ ]:
# or
with open('train_dedup_R1_iter3.jsonl', 'w') as f:
    f.write(df6.to_json(orient='records', lines=True))

**Additional Validations**

In [ ]:
df_0 = pd.read_json('/content/train.jsonl', lines=True) 
df_1 = pd.read_json('/content/train_dedup_01.jsonl', lines=True) 
df_2 = pd.read_json('/content/train_dedup_02.jsonl', lines=True) 
df_3 = pd.read_json('/content/train_dedup_03.jsonl', lines=True) 
df_4 = pd.read_json('/content/train_dedup_04.jsonl', lines=True)

In [ ]:
df_0.shape # 100459

(100459, 9)

In [ ]:
df_a0 = df_0.groupby(['context']).size().reset_index(name='counts')
df_a0 = df_a0.sort_values(by='counts', ascending=False)

df_a1 = df_1.groupby(['context']).size().reset_index(name='counts')
df_a1 = df_a1.sort_values(by='counts', ascending=False)

df_a2 = df_2.groupby(['context']).size().reset_index(name='counts')
df_a2 = df_a2.sort_values(by='counts', ascending=False)

df_a3 = df_3.groupby(['context']).size().reset_index(name='counts')
df_a3 = df_a3.sort_values(by='counts', ascending=False)

df_a4 = df_4.groupby(['context']).size().reset_index(name='counts')
df_a4 = df_a4.sort_values(by='counts', ascending=False)

In [ ]:
df_a2.head()

                                                context  counts
920   Little Jost Van Dyke (colloquially, "Little Jo...      39
413   Cowie Castle is a ruined fortress in Aberdeens...      38
1105  North East Lincolnshire is a unitary authority...      36
1175  Peter Franklin Paul (born September 2, 1948) i...      35
1999  Westminster, Ellesmere Port is a suburb of the...      32

In [ ]:
df_d2.head()

                                                context  counts
413   Cowie Castle is a ruined fortress in Aberdeens...      36
920   Little Jost Van Dyke (colloquially, "Little Jo...      35
1105  North East Lincolnshire is a unitary authority...      34
1175  Peter Franklin Paul (born September 2, 1948) i...      34
1999  Westminster, Ellesmere Port is a suburb of the...      32

In [ ]:
df_merge = pd.merge(
    df_a2,
    df_d2,
    how="inner",
    on='context'
)

In [ ]:
df_merge["is_dedup"] = df_merge.counts_x != df_merge.counts_y

In [ ]:
#df_merge[(df_merge.is_dedup == True) & (df_merge.counts_x == 10)] # 431 contexts from R1/train are affected by dedup

#df_merge.loc[589].context
thefunt = df_merge.loc[589].context

#df_merge.loc[619].context
theroad = df_merge.loc[619].context

#df_merge.loc[641].context
evothel = df_merge.loc[641].context

In [ ]:
pd.set_option('display.max_colwidth', 200) #50 #100 # 150

In [ ]:
#dff = df_a1[df_a1.counts == 1]
dff

In [ ]:
dfin2 = df_2[~df_2.context.isin(dff.context)]
dfin3 = df_3[~df_3.context.isin(dff.context)]
dfin4 = df_4[~df_4.context.isin(dff.context)]


df_final = pd.concat([df_1, dfin2, dfin3, dfin4])

In [ ]:
df_final.head()

In [ ]:
df_fin = df_final.groupby(['context']).size().reset_index(name='counts')
df_fin = df_fin.sort_values(by='counts', ascending=False)

In [ ]:
df_fin.shape

(5996, 2)

In [ ]:
df_a0.shape

(5996, 2)

In [ ]:
pd.merge(
    df_a0,
    df_fin,
    how="inner",
    on='context'
).shape

(5996, 3)

In [ ]:
df_a0

**This is the end**